.status {
  color: #fff;
  display: block;
  font-size: 20px;
  margin: 15px 10px;
}

.game-history {
  display: block;
  margin: 20px;
  color: #fff;
}

.game-board {
  padding: 10px;
  overflow: hidden;
}

.cell {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  font-size: 54px;
  border: 1px solid #aaa;
  float: left;
  font-weight: bold;
}

.row-board {
  clear: both;
  margin-left: -1px;
  margin-top: -1px;
}